---
layout: default
---

<div class="posts">
  {% assign miniposts = site.miniposts | reverse %}
  {% for post in miniposts %}
    {% if post.categories contains "minipost" %}
      <article class="post">

        <!--h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1-->

        <div class="entry minipost">
          {{ post.content }}
          <div class="minipost-data">
            {{ post.date | date: "%d/%m/%Y" }} --&nbsp;
            <a href="{{ site.baseurl }}{{ post.url }}">link</a>
          </div>
        </div>
      </article>
    {% endif %}
    {% if post != miniposts.last %}
    <hr>
    {% endif %}
  {% endfor %}
</div>